<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Radio | 24 / 7 Radio</title>
</head>

<body>
  <h1>Stats</h1>

  <table>
    <thead>
      <tr>
        <th>Radio Channel</th>
        <th>Listeners Count</th>
        <th>Current Song</th>
      </tr>
    </thead>
    <tbody>
      {{ range . }}
      <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Count }}</td>
        <td>{{ .Current }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>

</body>

</html>